In [4]:
list1 = [12, 23, 4, 5, 45]
print("Before adding an element", list1)

# append --> Add an element to the end of the list
list1.append(100)
print("After adding an element", list1)
list1. append(4567)
list1

Before adding an element [12, 23, 4, 5, 45]
After adding an element [12, 23, 4, 5, 45, 100]

[12, 23, 4, 5, 45, 100, 4567]

In [5]:
# insert --> Add the element at the specified index
list1.insert(3, 10)
list1

[12, 23, 4, 10, 5, 45, 100, 4567]

In [6]:
# extend --> Add multiple elements to the list
list1.extend([1,2,3,4])
list1

[12, 23, 4, 10, 5, 45, 100, 4567, 1, 2, 3, 4]

In [12]:
# pop --> by default removes the last element
print(list1)
list1.pop()
list1

[12, 23, 4, 10, 5, 45, 100]

[12, 23, 4, 10, 5, 45]

In [13]:
# pop with specific index

list1.pop(2) # remove the element at index 2

4

In [14]:
list1

[12, 23, 10, 5, 45]

In [16]:
# Destructor
# delete range of indices 

del list1[0:2] 
list1

[10, 5, 45]

In [17]:
#remove --> remove an element from the list
# remove --> Remove an element without using the index

list1.remove(10)
list1

[5, 45]

In [18]:
# clear --> remove all the elemets from the list
list1.clear()
list1

[]

In [19]:
del list1

In [20]:
list1

NameError: name 'list1' is not defined

In [22]:
# #sort --> sort in ascending or descending

l1=[123, 34, 56, 67, 78, 89, 90, 12, 31]
l1.sort()
l1

[12, 31, 34, 56, 67, 78, 89, 90, 123]

In [23]:
l1.sort(reverse=True)
l1

[123, 90, 89, 78, 67, 56, 34, 31, 12]

In [28]:
l1.reverse()
l1

[123, 90, 89, 78, 67, 56, 34, 31, 12]

In [29]:
print(l1)
# index --> return index of the given element

l1.index(78)

[123, 90, 89, 78, 67, 56, 34, 31, 12]

3

In [30]:
# count --> returns the count of the element
l1.count(123)

1

In [31]:
# copy --> copies all the elements from one list to another
l2 = l1.copy()
print("List1", l1)
print("List2", l2)

List1 [123, 90, 89, 78, 67, 56, 34, 31, 12]
List2 [123, 90, 89, 78, 67, 56, 34, 31, 12]

In [37]:
l3 = l1
print("List3", l3)
print("List1", l1)

List3 [123, 90, 89, 78, 67, 56, 34, 31, 12]
List1 [123, 90, 89, 78, 67, 56, 34, 31, 12]

In [38]:
l1.append(88623)
print("List1:", l1) # original list
print("List2:", l2)# copied using copy method  # Shallow copy

print("List3:", l3)# copied using = #Deep Copy

List1: [123, 90, 89, 78, 67, 56, 34, 31, 12, 88623]
List2: [123, 90, 89, 78, 67, 56, 34, 31, 12]
List3: [123, 90, 89, 78, 67, 56, 34, 31, 12, 88623]

```
Question:
    
Write a program to get the smallest number from the list and display index of that number from the list

```

In [40]:
list1 = [12,23,4,55,66,77,8, 890, 123, -45, -200, 56]
print(min(list1), list1.index(min(list1)))

-200 10

### Tuples

In [43]:
# Create a tuple
t1 = (10, 20, 30.24, "Python", True)
print(t1, type(t1))

(10, 20, 30.24, 'Python', True) <class 'tuple'>

In [45]:
t2 = 1,2,3
print(type(t2))

<class 'tuple'>

In [46]:
print(t1[1])
print(t1[-1])

20
True

In [47]:
# tuple is ordered
print(t1)

(10, 20, 30.24, 'Python', True)

In [49]:
t1[2] = "A"

TypeError: 'tuple' object does not support item assignment

In [51]:
### Built-in functions
t1 = (1,2,5,67,890)
print(len(t1))
print(min(t1))
print(max(t1))

5
1
890

In [52]:
# tuple() --> type conversion 
# Convert list to a tuple
list1 = [1,2,3,4]
print(list1)
tuple(list1)

[1, 2, 3, 4]

(1, 2, 3, 4)

```
Built-in methods

index --> gives you index of a tuple element
count --> returns frequency of an element
```

In [55]:
print(t1)
t1.index(4)

(1, 2, 5, 67, 890)

ValueError: tuple.index(x): x not in tuple

In [56]:
t1.index(890)

4

In [57]:
t1.count(5)

1