In [3]:
li = [23,-50, 12, 34, 90, 1, 16]
li.sort()
li

[-50, 1, 12, 16, 23, 34, 90]

In [4]:
li[-1]

90

In [5]:
li[-2] # second largest item from the list

34

### Tuple Packing & Unpacking

In [7]:
t = 10, 20, 30 # Packing
t

(10, 20, 30)

In [9]:
# Unpacking => 3 variables to hold 3 values
a, b, c = t

In [10]:
print(a, b, c)

10 20 30

In [11]:
a

10

In [12]:
b

20

In [13]:
# dir() --> It lists all the attaributes and methods of an object
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Set

```
1. Sets are enclosed in {}
2. Set is unordered and unidexed
3. Set will not contain duplicate values
```

In [20]:
s1 = {1,30, 40, 30, 67, 89, -89, 89, 89, 90, 65, 45, "abc"}
s1

{-89, 1, 30, 40, 45, 65, 67, 89, 90, 'abc'}

In [21]:
s1

{-89, 1, 30, 40, 45, 65, 67, 89, 90, 'abc'}

In [17]:
# Unindexed
s1[0]

TypeError: 'set' object is not subscriptable

In [22]:
# + operator doesn't work with set
s2 = {12, 23, 45, 56, 67, 78}
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [23]:
# * -> Repetition
s1 * 2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [27]:
# Membership Operators

print(s1)
print(35 in s1)
print(89 in s1)
print(30 not in s1)

{1, 65, 67, -89, 40, 'abc', 45, 89, 90, 30}
False
True
False

In [28]:
# Built-in Methods

In [30]:
A = {1, 2,3, 4, 5}
B = {3, 4, 5,6, 7}

In [31]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [32]:
A.intersection(B) # common elements from both the sets

{3, 4, 5}

In [33]:
A.difference(B)

{1, 2}

In [34]:
B.difference(A) # unique elements of B

{6, 7}

In [35]:
print(A.issuperset(B))
print(B.issuperset(A))

False
False

In [36]:
print(A.issubset(B))
print(B.issubset(A))

False
False

In [37]:
# set() --> type conversion
list1 = [12, 345, 345, 56, 67, 67, 80, 12]
list1

[12, 345, 345, 56, 67, 67, 80, 12]

In [38]:
set(list1)

{12, 56, 67, 80, 345}

In [39]:
## Adding an element

```
1. add()
2. pop()
3. remove()
4. discard()
5. clear()
```

In [41]:
print(A)
A.add(10) # add an element into set

{1, 2, 3, 4, 5}

In [42]:
A

{1, 2, 3, 4, 5, 10}

In [43]:
A.pop() # removes any element from the set randomly

1

In [44]:
A

{2, 3, 4, 5, 10}

In [45]:
A.pop() # removes any element randomly

2

In [46]:
A.remove(5) # removes specific element
A

{3, 4, 10}

In [47]:
# discard --> removes the element if it is a member of set, if not avaialable- do nothing
A.discard(1)
A

{3, 4, 10}

In [48]:
A.discard(3)
A

{4, 10}

In [49]:
A.clear()

In [50]:
A

set()

In [ ]:
# # Shallow copy & Deep Copy with sets
# Shallow copy ==> copy()
# Deep Copy ==> copy using =

### Dictionary