In [2]:
### Dictionary
dict1 = {}
print(dict1, type(dict1))

{} <class 'dict'>

In [3]:
### Creating a dictionary
dict1 = {"Name": "Mounika", "ID": 588561, "Email ID":"abc@gmail.com"}
dict1

{'Name': 'Mounika', 'ID': 588561, 'Email ID': 'abc@gmail.com'}

In [4]:
dict1 = {"Name": ["Mounika", "Damilola"], "ID": 588561, "Email ID":"abc@gmail.com"}
dict1

{'Name': ['Mounika', 'Damilola'], 'ID': 588561, 'Email ID': 'abc@gmail.com'}

In [6]:
# Update a dict
dict1['Name'] = "Mounika K"
dict1

{'Name': 'Mounika K', 'ID': 588561, 'Email ID': 'abc@gmail.com'}

In [8]:
# Adding a new entry --> course - python
#dict1['new_key']="new_value"
dict1['course'] = 'python'
dict1

{'Name': 'Mounika K',
 'ID': 588561,
 'Email ID': 'abc@gmail.com',
 'course': 'python'}

In [10]:
# Delete an entry
del dict1['course']
dict1

{'Name': 'Mounika K', 'ID': 588561, 'Email ID': 'abc@gmail.com'}

In [11]:
# Mutable--> All the changes can be done(List)
# Immutable --> No changes can be made(Tuple)
# Keys must be immutabledict1[[1,2,3]] = 'list1'
dict1

TypeError: unhashable type: 'list'

In [12]:
print(dict1)
dict1['Name'] = 'Damilola'
dict1

{'Name': 'Mounika K', 'ID': 588561, 'Email ID': 'abc@gmail.com'}

{'Name': 'Damilola', 'ID': 588561, 'Email ID': 'abc@gmail.com'}

In [13]:
dict2 = {1:"one", 2:"two"}
dict1 + dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [14]:
# Membership Operator
print("name" in dict1)
"Name" in dict1

False

True

In [15]:
# Builtin Functions
dict3 = dict() # creating a dict using dict function
dict3

{}

#### Built-in Methods

In [16]:
dict1

{'Name': 'Damilola', 'ID': 588561, 'Email ID': 'abc@gmail.com'}

In [17]:
# keys --> Return all the keys of dictionary
dict1.keys()

dict_keys(['Name', 'ID', 'Email ID'])

In [18]:
# values() --> Return all the values of the dict
dict1.values()

dict_values(['Damilola', 588561, 'abc@gmail.com'])

In [19]:
#items() --> Return all the entries
dict1.items()

dict_items([('Name', 'Damilola'), ('ID', 588561), ('Email ID', 'abc@gmail.com')])

In [24]:
#setdefault --> Adds and entry if entry doesn't exist
dict1.setdefault("Contact Number", 1234567)
dict1

{'Name': 'Damilola',
 'ID': 588561,
 'Email ID': 'abc@gmail.com',
 'Contact_Number': 1234567,
 'ContactNumber': 1234567,
 'Contact Number': 1234567}

In [26]:
# pop --> removes an entry from the dictionary
dict1.pop('ContactNumber')
dict1

{'Name': 'Damilola',
 'ID': 588561,
 'Email ID': 'abc@gmail.com',
 'Contact_Number': 1234567,
 'Contact Number': 1234567}

In [27]:
# popitem() --> Remove any random entry from the dict
dict1.popitem()

('Contact Number', 1234567)

In [28]:
dict1

{'Name': 'Damilola',
 'ID': 588561,
 'Email ID': 'abc@gmail.com',
 'Contact_Number': 1234567}

In [29]:
# copy() --> copys one dict to another dict
dict3 = dict1.copy()
dict3

{'Name': 'Damilola',
 'ID': 588561,
 'Email ID': 'abc@gmail.com',
 'Contact_Number': 1234567}

In [30]:
# clear
dict3.clear()

In [31]:
dict3

{}

In [32]:
# update --> Updates all the entries from old to new dict
dict3.update(dict2)
dict3

{1: 'one', 2: 'two'}

### Python Break and Continue Statements

In [34]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [37]:
# break --> Exit the loop
for i in range(1,11):
    if i == 8:
        break
    print(i, end=" ") # outside the if condition

1 2 3 4 5 6 7

In [39]:
for i in range(1,11):
    if i == 8:
        print(i, end=" ") # inside the if condition    
        break

8

In [40]:
for char in "python":
    if char == "h":
        break
    print(char)
    print("Inside For Loop")
print("Outside For Loop")

p
Inside For Loop
y
Inside For Loop
t
Inside For Loop
Outside For Loop

In [42]:
# Continue --> skip the statements when the condition is satisfied
for i in range(1,11):
    if i == 5 or i == 9:
        continue
    print(i, end=" ")

1 2 3 4 6 7 8 10

In [43]:
## It has to skip all the even numbers between 1 to 20
# O/P:  1  3   5  7   9  11......19
for i in range(1,21):
    if i%2 == 0:
        continue # skip some statements
    print(i, end = " ")

1 3 5 7 9 11 13 15 17 19

In [44]:
if 10>20:
    break

SyntaxError: 'break' outside loop (<ipython-input-44-53c8db5cc2db>, line 5)

In [45]:
#pass --> Whenever you want to create an empty block, use pass statement
for i in range(1,11):
    if i == 5:
        pass
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10