In [1]:
import mysql.connector

In [11]:
# Creating connection to the  and using emp database
mydb = mysql.connector.connect(host="localhost", user='root', password='root', database = "emp")

In [12]:
mydb

In [16]:
# Create a database
mycursor = mydb.cursor()

# All the SQL queries must be written inside execute 
mycursor.execute("CREATE DATABASE Emp1")

In [17]:
mycursor.execute("SHOW DATABASES")

In [18]:
for x in mycursor:
    print(x)

('customers',)
('demo',)
('ds',)
('emp',)
('emp1',)
('employee',)
('ems',)
('information_schema',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('student1',)
('sys',)
('world',)

In [20]:
mycursor.execute("CREATE TABLE employee(ID int, name varchar(30))")

ProgrammingError: 1050 (42S01): Table 'employee' already exists

### INSERT

In [23]:
#Inserting data into employee table
sql = "INSERT INTO employee (ID, name) VALUES(1234, 'Jim')"
mycursor.execute(sql)

mydb.commit()

In [24]:
sql=" INSERT INTO employee VALUES(2345, 'Mary'),(3456,'Bob'),(5678, 'Tod')"
mycursor.execute(sql)

In [25]:
mydb.commit()

### SELECT

In [35]:
mycursor.execute('SELECT * FROM employee')

In [33]:
mycursor.fetchall()

[(1234, 'Jim'), (1234, 'Jim'), (2345, 'Mary'), (3456, 'Bob'), (5678, 'Tod')]

In [36]:
for x in mycursor.fetchall():
    print(x)

(1234, 'Jim')
(1234, 'Jim')
(2345, 'Mary')
(3456, 'Bob')
(5678, 'Tod')

In [ ]:
# Update, Delete, Drop